<strong> Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no meetup que você está organizando, confira os detalhes abaixo:</p>

<p>
  <strong>Participante: </strong> {{ user }} <br/>
  <strong>Meetup: </strong> {{ meetup }} <br />
  <br />
  <small>Agora já são {{ total }} participantes inscritos no meetup.</small>
</p>

